.heading
{
font-family: 'Arvo', serif;
font-size: 40px;
width: 100%;
margin: 0px;
color:#00ffe5;
text-shadow: 0 0 3px #01151e, 0 0 5px #001a17;
}

#status, #numberOfObjects, #startModel
{
font-size: 23px;
color:#00ffe5 ;
text-shadow: 0 0 3px #6a00ff, 0 0 5px #31ffe0;
background-color: #64c1ff;
border-radius: 20px;
width: 100px;
}

body
{
    background-size: cover;
    background-position: center;
}

canvas 
{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top: 30px;
}

/* .ob
{
    background-color: #6cf5ff;
    font-family: 'Arvo', serif;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
}

.noo
{
    background-color: #6cf5ff;
    font-family: 'Arvo', serif;
} */



